.menu-container {
    @apply absolute top-0 md:translate-x-[calc(-100%_+_160px)];
    // transform: translateX(calc(-100% + 160px));
}

.main-nav-item {
    @apply text-34 md:text-45 font-bur py-10 uppercase text-secondary-color;
}

.main-nav-anchor {
    @apply hover:cursor-red;
}

.menu-item-about {
    @apply relative hover:cursor-red;

    &::after {
        content: '';
        background-image: url('./images/about.png');
        @apply hover:cursor-red;
    }
}

.menu-inactive {
    @apply w-0 opacity-0 pointer-events-none;
}

.menu-active {
    @apply w-full md:w-[725px] opacity-100 pointer-events-auto;
}

.menu-item {
    @apply relative hover:cursor-red;

    a {
        @apply opacity-100 transition-opacity ease-in-out duration-100;
    }

    &::after {
        content: '';
        opacity: 0;
        @apply block hover:cursor-red w-full h-full bg-contain bg-left bg-no-repeat absolute top-1/2 inset-0 transform -translate-y-1/2 transition-opacity ease-in-out duration-100 max-w-[345px] max-h-[88px];
    }
}

.menu-item:hover {
    a {
        @apply opacity-0;
    }
}


.about-menu-item:hover {

    &::after {
        background-image: url('./images/about.png');
        opacity: 1;
    }
}

.contact-menu-item:hover {

    &::after {
        background-image: url('./images/contact.png');
        opacity: 1;
    }
}

.work-menu-item:hover {

    &::after {
        background-image: url('./images/work.png');
        opacity: 1;
    }
}

.products-menu-item:hover {

    &::after {
        background-image: url('./images/products.png');
        opacity: 1;
    }
}

.services-menu-item:hover {

    &::after {
        background-image: url('./images/services.png');
        opacity: 1;
    }
}